<div class="jumbotron">
    <h1 class="overlay"><span>SRIguana Team</span></h1>
</div>

<div class="container funds">
  <div class="row">

    <div class="col-xs-6 col-md-3">
      <div>
        <img class= "img-circle" src="http://i.imgur.com/aj7cYZt.png" alt="Elmo">
        <div class="caption">
          <h2>Colbert</h2>
            <p>A San Francisco native who enjoys riding bikes and listening to music when he's not staring at code.</p>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div>
        <img class= "img-circle" src="http://i.imgur.com/Lea4155.jpg" alt="Elmo">
        <div class="caption">
          <h2>Reva</h2>
            <p>Creative problem solver, passionate about bridging the gap between art, social change and technology. Programmer by day and artist by night. Pizza and good reads are the way to my soul.</p>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div>
        <img class= "img-circle" src="http://i.imgur.com/dA4FFXH.jpg" alt="Elmo">
        <div class="caption">
          <h2>Doug</h2>
            <p>Long time Bay Area native interested in the fast growing pace of the
            web development industry. Enjoys competitive gaming in his free time.</p>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div>
      <img class= "img-circle" src="http://i.imgur.com/LgLuwIk.jpg" alt="Elmo">
        <div class="caption">
          <h2>Matt</h2>
            <p>I am a former teacher with a passion for learning.  Web development is a creative environment where I can sate this passion and thusfar, I love it. My favorite animal is the tarantula (they are so cute!) and I have a love/hate relationship with error messages.  </p>
        </div>
      </div>
    </div>   

  </div>
</div>